head
  title Bays
  include components/header.pug
  script(src="scripts/car.js")
link(rel='shortcut icon' href='/assets/favicon.ico')
link(rel='stylesheet' href='/assets/dcode.css')
link(rel='stylesheet' href='style/style.css')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
// Filter section
main.flex-shrink-0
  .filter-section
    .filter-search-form
      .form-top
        h1.col.d-flex.text-white.justify-content-center Find your next car
      .row.justify-content-center
        select.form-select.form-select-sm#make(aria-label='.form-select-sm example')
          option(selected='' value = "") Make
          each make in data.makes
            option(value=make) #{make}
        select.form-select.form-select-sm#color(aria-label='.form-select-sm example')
          option(selected='',value="") Color
          each color in data.colors
            option(value=color) #{color}
        input.form-control#min-year(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;", placeholder="Min year")
        input.form-control#max-year(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;", placeholder="Max year")
      #second-search-row.row.justify-content-center
        input.form-contro#min-cost(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;",placeholder="Min Cost")
        input.form-contro#max-cost(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;",placeholder="Max Cost")
        select.form-select.form-select-sm#location(aria-label='.form-select-sm example')
          option(selected='',value="") Location
          each location in data.locations
            option(value=location) #{location}
      .button
        button.btn.btn-primary.btn-lg#search(type='button') Search
  
  .row#cars


    // single car card
    div#loading(style="text-align:center")
      img(src="images/Spinner.gif")
    // end of card
include components/footer.pug
script. 
  activateFilter();