head
  title Bays
  include components/header.pug
  script(src="scripts/car.js")
link(rel='shortcut icon' href='/assets/favicon.ico')
link(rel='stylesheet' href='/assets/dcode.css')
link(rel='stylesheet' href='style/style.css')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
// Filter section
main.flex-shrink-0
  .filter-section
    .filter-search-form
      .form-top
        h1.col.d-flex.text-white.justify-content-center Find your next car
      .row.justify-content-center
        select.form-select.form-select-sm#make(aria-label='.form-select-sm example')
          option(selected='' value = "") Make
          each make in data.makes
            option(value=make) #{make}
        select.form-select.form-select-sm#color(aria-label='.form-select-sm example')
          option(selected='',value="") Color
          each color in data.colors
            option(value=color) #{color}
        input.form-control#min-year(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;", placeholder="Min year")
        input.form-control#max-year(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;", placeholder="Max year")
      #second-search-row.row.justify-content-center
        input.form-contro#min-cost(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;",placeholder="Min Cost")
        input.form-contro#max-cost(style="margin-top: 3px; height: 45px; margin-right: 4px; width:100px;",placeholder="Max Cost")
        select.form-select.form-select-sm#location(aria-label='.form-select-sm example')
          option(selected='',value="") Location
          each location in data.locations
            option(value=location) #{location}
      .button
        button.btn.btn-primary.btn-lg#search(type='button') Search
  
  .row#cars


    // single car card
    each car in data.cars
      .col-10.mx-auto.my-3.col-md-6.col-lg-4
        .card.car-card
          img.card-img-top.car.img(src='/images/cars/'+car.car_id+'.jpg' alt='')
          // card body
          .card-body
            .car-info.d-flex.justify-content-between
              .card-text.text-uppercase
                h6.font-weight-bold car maker
                h6 #{car.make}
              h5.car-value.align-self-center.py-2.px-3
                | $#{car.cost}/day
                span.car-price 
              button.btn.btn-success(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal'+car.car_id) Rent
              // Modal
              .modal.fade(id='exampleModal'+car.car_id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog
                  .modal-content
                    .modal-header
                      h5#exampleModalLabel.modal-title Rental Agreement For #{car.make}
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                      p Confirm that you agree to our terms and conditions
                      .form-check
                        input#flexCheckDefault.form-check-input(type='checkbox' value='')
                        label.form-check-label(for='flexCheckDefault')
                          | I agree to the terms and conditions of Rent-A-Lux
                    .modal-footer
                      button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                      button.btn.btn-success(type='button',onClick="makeBooking("+car.car_id+")") Confirm Booking
          .card-footer.text-capitalized.d-flex.justify-content-between
            p
              span
                i.fas.fa-car
              | sedan
            p #{car.location}
            p
              span
                i.fas.fa-gas-pump
              | 15L/100km
    // end of card
include components/footer.pug
